---
// src/components/Header.astro
// ဒီ file မှာ ကျွန်တော်တို့ site ရဲ့ header အတွက် HTML တွေ ပါဝင်ပါတယ်။
// ဒါကို စာမျက်နှာတိုင်းမှာ ပြန်သုံးလို့ရပါတယ်။
---

<header>
  <nav>
    <a href="/">Zonc Nexus</a>
    <ul>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
